<h1>StaticPages#about</h1>
<p>
About The Mencken Tarot:
</p>
<ul>
<li>What it is</li>
<li>How it came into existence</li>
<li>How to contact its authors</li>
<li>what tarot is about</li>
<li>what H L Mencken is about</li>
</ul>
<p>Find me in app/views/static_pages/about.html.erb</p>
