<h1>Contact</h1>
<p>
How to contact our authors & our site
</p>
<p>
The unsuspecting user is likely to get a stream of quotes from HL Mencken if they go here!
Perhaps a quote at the top from <a href="http://en.wikiquote.org/wiki/H._L._Mencken">H. L. Mencken</a>
<p>Find me in app/views/static_pages/contact.html.erb</p>
