<h1>StaticPages#help</h1>
<p>
How to use this site:
<ul>
<li>
readings
</li>
<li>
authorings
</li>
<li>
maunderings
</li>
<li>
building a deck
</li>
<li>
building a card
</li>
<li>…</li>
</ul>
</p>
<p>Find me in app/views/static_pages/help.html.erb</p>
