<h1>StaticPages#history</h1>
<p>
This is a richly illustrated & skillfully researched discussion of the tarot & its uses</p>
<p>It also has some really good stuff about H. L. Mencken, why we hate to love him & why he is a better fit to the tarot than you might have thought</p>
<p>Find me in app/views/static_pages/history.html.erb</p>
