<h1>StaticPages#plans</h1>
<p>The Glorious Future to Come!</p>
<ul>
<li>build your deck</li>
<li>get your own copies of existing cards</li>
<li>create readings of your own:  why rely on chance to get the fortune you describe</li>
<li>build readings to email to your friends:  why should they depend on chance when they have you</li>
<li>…</li>
</ul>
<p>Find me in app/views/static_pages/plans.html.erb</p>
