<h1>StaticPages#splash</h1>
<p>This is the starting (splash) page for the Mencken Tarot:  contains a bunch of menu items 
setup like tarot cards, inviting our querant to start a reading, author a reading, select a deck, change their settings, 
and so on.
</p>
<p>It may also contain:</p>
<ul>
<li>most popular deck today</li>
<li>highest rated deck today</li>
<li>recent readings</li>
<li>news from the astral plane</li>
<li>…</li>
</ul>
<p>Find me in app/views/static_pages/splash.html.erb</p>
